<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>PDF Result Template</title>
		<style>
		.col2{
			text-align:right;
		  border: solid blue 2px;
		}
		.container-fluid{
			padding:0%;
			border:solid black 1px;
			/* max-width: 100px; */
		}
		.container-fluid > .row > .col1{
		  border: solid red 1px;
		}
		table,th,td{
			border: solid green 1px;
			border-collapse: collapse;
			padding: 3px;
		}
		th{
			background-color: rgb(200, 255, 255);
		}
		td{
			background-color: rgb(255, 245, 200);
		}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid">
	  	<div class="row row1 mx-3">
	    	<div class="col-6 col1">
	          <img src="" class="rounded-circle">
	      </div>
	      <div class="col-6 col2">
	        <p><%= Student_data.Name %></p>
	        <p><%= Student_data.Email %></p>
	        <p><%= Student_data.Phone %></p>
	        <p><%= Student_data.Location %></p>
	      </div>
	    </div> <!-- end of row1 -->
	    <hr>
	    <div class="row row2 mx-5 my-2">
	         <div class="col-12">
	            <div class="row">
	             <h5>Education Details</h5>
	            </div>
	            <div class="row"> 
	               <table>
	                <tr>
	                   <th>Qualification</th>
	                   <th>Start Date</th>
	                   <th>End Date</th>
	                   <th>Location</th>
	                   <th>Institute</th>
	                </tr>
	                  <% for(var i=0; i< Student_data.Education.length; i++) {%>
	                    <tr>
	                      <td><%= Student_data.Education[i].qualification %></td>
	                      <td><%= Student_data.Education[i].start_date %></td>
	                      <td><%= Student_data.Education[i].end_date %></td>
	                      <td><%= Student_data.Education[i].location %></td>
	                    	<td><%= Student_data.Education[i].institute_name %></td>
	                		</tr>
	                  <% } %>
	                </table>
	            </div>
	         </div>
	    </div> <!-- end of row2 -->
	  <div class="row row3 mx-5 my-2">
	         <div class="col-12">
	            <div class="row">
	               <h5>Project Details</h5>
	            </div>
	            <div class="row">
	               <table>
	                     <tr>
	                        <th>Title</th>
	                        <th>Start Date</th>
	                        <th>End Date</th>
	                        <th>Team Member</th>
	                        <th>Location</th>
	                        <th>Company</th>
	                     </tr>
	                     <% for(var i=0; i< Student_data.Project.length; i++) {%>
												<tr>
															<td><%= Student_data.Project[i].title %></td>
															<td><%= Student_data.Project[i].start_date %></td>
															<td><%= Student_data.Project[i].end_date %></td>
															<td><%= Student_data.Project[i].member1 %></td>
															<td><%= Student_data.Project[i].location %></td>
															<td><%= Student_data.Project[i].company_name %></td>
												</tr>
	                     <!-- <tr>
	                        <th>Description</th>
	                        <td><%= Student_data.Project[i].description %></td>
											 </tr> -->
											 <% } %>
	               </table>
	            </div>
	         </div>
	    </div> <!-- end of row3 -->
	    <div class="row row4 mx-5 my-2">
	         <div class="col-12">
	            <div class="row">
	               <h5>Certificate Details</h5>
	            </div>
	            <div class="row">
	               <table>
	                  <tr>
	                     <th>Title</th>
	                     <th>Start Date</th>
	                     <th>End Date</th>
	                     <th>Institute</th>
	                  </tr>
										<% for(var i=0; i< Student_data.Certificate.length; i++) {%>
	                    <tr>
	                      <td><%= Student_data.Certificate[i].title %></td>
	                      <td><%= Student_data.Certificate[i].start_date %></td>
	                      <td><%= Student_data.Certificate[i].end_date %></td>
	                      <td><%= Student_data.Certificate[i].institute_name %></td>
	                		</tr>
	                  <% } %>
	               </table>
	            </div>
	         </div>
	       </div> <!-- end of row4 -->
	       <div class="row row5 mx-5 my-2">
	         <div class="col-12">
	            <div class="row">
	               <h5>Skills : </h5>&nbsp; C,C++
	            </div>
	         </div>
	       </div><!-- end of row5-->
	       <div class="row row6 mx-5 my-2">
	            <div class="col-12">
	               <div class="row">
	                  <h5>Declaration</h5>
	               </div>
	               <div class="row">
	                  I hereby declare that above details provided by me are true to the best of my knowledge.
	               </div>
	            </div>
	         </div><!-- end of row6-->
	         <div class="row row7 mx-5 my-2">
	            <div class="col-12">
	               <div class="row">
	                  <h5>Name : </h5>Shubham Jaiswar
	               </div>
	               <div class="row">
	                  <h5>Date : </h5>
	               </div>
	            </div>
	         </div><!-- end of row6-->
	</div><!-- end of container-fluid-->	
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>
